/* <style> */

/* <div id="ays_tooltip" >Konten dilindungi hak cipta © Zein-IT.</div> */

#ays_tooltip,.ays_tooltip_class {
    display: none;
    position: absolute;
    z-index: 999999999;
    background-color: #ffffff;
    
    background-repeat: no-repeat;
    background-size: cover;
    opacity:1;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0) 0px 0px 15px 1px;
    color: #ff0000;
    padding: 5px;
    font-size: 12px;
}

#ays_tooltip > *, .ays_tooltip_class > * {
    color: #ff0000;
    font-size: 12px;
}

/* </style> */
/* <style> */
*:not(input):not(textarea)::selection {
background-color: transparent !important;
color: inherit !important;
}

*:not(input):not(textarea)::-moz-selection {
background-color: transparent !important;
color: inherit !important;
}
/* </style> */