* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
    transition: background-color 1.0s ease;
    font-family: 'Calibri';
  }

/* light/dark ===================================================*/

body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
    /* background-color: #dedede; */
    background-color: #dddddd; 
    
    transition: background-color 1.0s ease; /* jeda waktu perubahan */
}

header .mode {
    margin: auto;
    /* posisi class akan menuju ke bagian tengan */

    /* width: 350px; */
    display: contents;
    /* lebar */

    /* padding: 30px; */
    
    
    /* background-color: #fff;  */
    /* gaya awal light mode, reff dari js no 2 */

    border-radius: 5px; /* agar sisinya melengkung */

    text-align: center; 
    /* agar teks berada ditengah */
    transition: background-color 1.0s ease; /* jeda waktu perubahan */
}

header .mode button {
    padding: 10px;
    cursor: pointer;
    /* font-size: 12px; */
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 30px;
}

/* memberikan gaya dari tombol light mode */
header .mode button.tombol-terang {
    display: none; /* menyembunyikan tombol light mode saat pertama kali web di akses */
    color: white;
    /* color: blue; */
    /* background-color: yellow; */
    background-color: darkorange;
    transition: background-color 1.0s ease;  /* tambah trans */
}
div.nama span.tombol-terang {
    display: none;
}

/* memberikan gaya dari tombol dark mode */
header .mode button.tombol-gelap {
    /* background-color: blue; */
    color: white;
    background-color: midnightblue;
    /* color: yellow; */
    transition: background-color 1.0s ease;  /* tambah trans */
}

/* lanjutan dari js & css no 2 = efek gelap */
body.gelap { /* tag html > class js */
    background-color: #000;
    transition: background-color 1.0s ease;
}

/* class js > class css */
.gelap header .mode {
    background-color: #333;
    color: #fff;
    transition: background-color 1.0s ease;  /* tambah trans */
}

.gelap .tentang-saya, .gelap .ringkasan, .gelap #keahlian, .gelap .tmp-pengalaman, .gelap .tmp-pddkn { /* class js > class css */
    background-color: #333;
    color: #fff;
    /* box-shadow: -5px -5px 10px tan; */
    /* box-shadow: 0px 0px 10px 5px tan; */
    box-shadow: 0px 0px 7px 2px tan;
    transition: background-color 1.0s ease;
    transition: color 0.5s ease;  /* tambah trans */
}
/* cadetblue */
/* cornflowerblue */
/* blueviolet */
/* dimgrey */
.gelap .identitas .rincian {
    background-color: darkslategray;
    color: #fff;
    transition: background-color 1.0s ease;
    transition: color 0.5s ease;  /* tambah trans */
}
.gelap .identitas .kontak {
    background-color: teal;
    color: #fff;
    transition: background-color 1.0s ease;
    transition: color 0.5s ease;  /* tambah trans */
}
.gelap .kontak p a {
    color: #fff;
    transition: background-color 1.0s ease;
    transition: color 0.5s ease;  /* tambah trans */
}
.gelap .pengalaman .pt {
    background-color: teal;
    color: #fff;
    transition: background-color 1.0s ease;
    transition: color 0.5s ease;  /* tambah trans */
}
.gelap .pengalaman .jobdesk {
    background-color: midnightblue;
    color: #fff;
    transition: background-color 1.0s ease;
    transition: color 0.5s ease;  /* tambah trans */
}
.gelap .pddkn .sklh {
    background-color: darkslateblue;
    color: #fff;
    transition: background-color 1.0s ease;
    transition: color 0.5s ease;  /* tambah trans */
}
.gelap .pddkn .jenjang {
    background-color: dimgrey;
    color: #fff;
    transition: background-color 1.0s ease;
    transition: color 0.5s ease;  /* tambah trans */
}

.gelap header .mode .tombol-terang {
    display: inline; /* menampilkan tombol light mode saat variabel gelap hilang */
}
.gelap div.nama .tombol-terang {
    display: inline;
}

.gelap header .mode .tombol-gelap {
    display: none; /* menghilangkan tombol dark mode saat variabel menjadi gelap */
} /* lanjut ke js no 3 */
.gelap div.nama .tombol-gelap {
    display: none;
}

div.tmp-pddkn a img {
    float: right;
    top: 0;
    padding-top: 0px;
    margin-top: 0px;
    padding-right: 0px;
    margin-right: 0px;
    max-width: 23px;
}
div.tmp-pddkn a img:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.4);
    transform-style: preserve-3d;
    box-shadow: 3px 3px 4px mediumvioletred;
}
.gelap div.tmp-pddkn a img:hover {
    box-shadow: 3px 3px 4px tan;
}
div.tmp-pddkn a.tombol-terang img {
    display: inline;
}
.gelap div.tmp-pddkn a.tombol-terang img {
    display: none;
}
div.tmp-pddkn a.tombol-gelap img {
    display: none;
}
.gelap div.tmp-pddkn a.tombol-gelap img {
    display: inline;
}

/* light/dark ===================================================*/

.tentang-saya, .ringkasan, #keahlian, .tmp-pengalaman, .tmp-pddkn {
    padding: 1px 30px 10px 30px;
    /* box-shadow: 0px -10px 30px mediumvioletred; */
    /* box-shadow: -5px -5px 10px mediumvioletred; */
    /* box-shadow: 0px 0px 10px 5px mediumvioletred; */
    box-shadow: 0px 0px 7px 2px mediumvioletred;
    border-radius: 15px;
    /* light/dark cek */
    /* background-color: #ccc; */
    /* background-color: silver; */
    background-color: #999;
    width: 750px;
    margin: auto;
    margin-top: 20px;
    transition: background-color 1.0s ease;  /* tambah trans */
}
.ringkasan {
    text-align: justify;
}

.nama img {
    width: 120px;
    border: none;
}

/* .kontak a {
    color: black;
    text-decoration: none;
    transition: color 0.5s ease;  /* tambah trans *
} */

.kontak p a {
    color: black;
    text-decoration: none;
    transition: color 0.5s ease;  /* tambah trans */
}

.kontak p a:hover {
    /* color: mediumvioletred; */
    text-shadow: -2px 2px 2px #fff;
}
.gelap .kontak p a:hover {
    text-shadow: -2px 2px 2px red;
}

.andalan ul {
    padding-left: 15px;
}

.nama1 {
    font-weight: bold;
    font-size: 19px;
}

.nama2 {
    font-weight: bold;
    font-size: 16px;
}

.identitas, .pengalaman, .pddkn {
    border-radius: 15px; /* lihat pada : .kelas-blog .area .gambar { */
    display: flex; /* tag div menjadi berbaris sejajar */
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: space-around; */
    margin-top: 10px;
}

.andalan {
    border-radius: 15px; /* lihat pada : .kelas-blog .area .gambar { */
    display: flex; /* tag div menjadi berbaris sejajar */
    flex-direction: row;
    justify-content: space-between;
        /* justify-content: space-around; */
    margin-top: 10px;
}
.andalan .gambar {
    background: url("gambar2.jpg");
    background-attachment: fixed; 
    /* agar gambar tampak diam saat scroll */

    /* width: 375px; */
    width: 50%;
    /* height: 50px; */
    /* height: auto; */
    
    background-position: center; 
    /* agar gambar berada di tengah */
    
    background-size: cover;
    /* agar lebar penuh hanya dengan satu gambar */
    margin-top: 20px;
    margin-bottom: 20px;
}
.gelap .andalan .gambar {
    background: url("gambar1.jpg");
    background-attachment: fixed; 
    width: 50%;    
    background-position: center; 
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

.identitas .nama {
    text-align: left;
    border-radius: 0px 0px 0px 0px;
    width: 20%;
}

.identitas .kontak {
    text-align: left;
    font-weight: bold;
    display: grid;
    background-color: darkseagreen;
    width: 50%;
    border-radius: 0px 0px 0px 0px;
    padding-left: 25px;
    transition: background-color 1.0s ease;  /* tambah trans */
}
.identitas .kontak p {
    margin: auto 0px auto 0px;
}

.identitas .rincian {
    text-align: left;
    display: grid;
    background-color: cadetblue;
    width: 25%;
    border-radius: 0px 15px 15px 0px;
    padding-left: 25px;
    transition: background-color 1.0s ease;  /* tambah trans */
}
.identitas .rincian p {
    margin: auto 0px auto 0px;
}
/* cadetblue */
/* cornflowerblue */
/* blueviolet */

.andalan .keahlian {
    text-align: left;
    /* background-color: darkseagreen; */
    width: 50%;
    /* border-radius: 0px 15px 15px 0px; */
}
.keahlian span {
    font-weight: bold;
}

.pengalaman .pt {
    text-align: center;
    /* display: inline; */
    /* background-color: darkgray; */
    background-color: lightslategrey;
    width: 30%;
    border-radius: 15px 0px 0px 15px;
    transition: background-color 1.0s ease;  /* tambah trans */
}

.pengalaman .pas {
    padding-top: 15px;
    display: grid;
}

.pengalaman .jobdesk {
    text-align: left;
    background-color: darkseagreen;
    width: 70%;
    border-radius: 0px 15px 15px 0px;
    /* padding-left: 15px; */
    transition: background-color 1.0s ease;  /* tambah trans */
}

.pddkn .jenjang {
    text-align: center;
    background-color: lightslategray;
    width: 30%;
    border-radius: 15px 0px 0px 15px;
    transition: background-color 1.0s ease;  /* tambah trans */
}
.pddkn .sklh {
    text-align: left;
    background-color: darkseagreen;
    width: 70%;
    border-radius: 0px 15px 15px 0px;
    padding-left: 50px;
    padding-right: 20px;
    transition: background-color 1.0s ease;  /* tambah trans */
}

.pengalaman .jobdesk ul, .andalan .keahlian ul {
    text-align: left;
    /* padding-left: 20px; */
    padding-right: 20px;
}

.pddkn .sklh {
    padding-right: 20px;
}

.ringkasan:hover, #keahlian:hover, .tmp-pengalaman:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 5px mediumvioletred;
}
.gelap .ringkasan:hover, .gelap #keahlian:hover, .gelap .tmp-pengalaman:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 5px tan;
}

.tentang-saya:hover, .ringkasan:hover, #keahlian:hover, .tmp-pengalaman:hover, .tmp-pddkn:hover {
    /* transition: all 0.2s ease-in-out;
    transform: scale(1.05); */
    box-shadow: 0px 0px 10px 5px mediumvioletred;
}
.gelap .tentang-saya:hover, .gelap .ringkasan:hover, .gelap #keahlian:hover, .gelap .tmp-pengalaman:hover, .gelap .tmp-pddkn:hover {
    box-shadow: 0px 0px 10px 5px tan;
}

header h1 {
    text-align: center;
    text-shadow: -2px 2px 2px yellow;
    transition: background-color 1.0s ease;
}
.gelap header h1 {
    color: #fff;
    text-shadow: -2px 2px 2px blue;
    /* text-shadow: -2px 2px 2px red; */
    transition: background-color 1.0s ease;
}

footer .hakcipta {
    margin-top: 15px;
    padding: 5px;
    border-top: 2px solid #b71c1c;
    text-align: center;
    color: #ffffff;
    background-color: #333;
    transition: background-color 1.0s ease;  /* tambah trans */
    transition: color 0.5s ease;  /* tambah trans */
}
.gelap footer .hakcipta {
    margin-top: 15px;
    padding: 5px;
    border-top: 2px solid #333;
    text-align: center;
    color: #ffffff;
    background-color: #b71c1c;
    transition: background-color 1.0s ease;  /* tambah trans */
    transition: color 0.5s ease;  /* tambah trans */
}

.nama a img:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(2);
}

.tombol-nav {
    /* float: right;
    text-decoration: none;
    font-weight: normal;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px; */
    transition: background-color 1.0s ease;  /* tambah trans */
    transition: color 0.5s ease;  /* tambah trans */
}

@media screen and (max-width: 800px) {
    .tentang-saya, .ringkasan,  #keahlian, .tmp-pengalaman, .tmp-pddkn {
        width: 75%;
    }

    .identitas, .andalan, .pengalaman {
        display: block;
    }

    .tentang-saya .identitas div {
        width: 100%;
        text-align: center;
        padding: 0px;
    }

    .identitas .nama {
        /* background-color: darkgray; */
        border-radius: 0px 0px 0px 0px;
        /* padding: 1px 0px 1px 0px; */
        margin-bottom: 10px;
        text-align: center;
    }

    .identitas .kontak {
        border-radius: 15px 15px 0px 0px;
        margin-bottom: 2px;
    }
    .identitas .kontak p {
        margin: 10px auto 10px auto;
    }

    .identitas .rincian {
        border-radius: 0px 0px 15px 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .identitas .rincian p {
        margin: 10px auto 10px auto;
        /* display: flex;
        flex-direction: row;
        justify-content: space-between; */
    }

    .tmp-pengalaman .pengalaman div, #keahlian .andalan div {
        width: 100%;
    }

    .tmp-pengalaman .pengalaman .pt {
        border-radius: 15px 15px 0px 0px;
        padding: 1px 0px 1px 0px;
        /* display: block; */
    }

    .pengalaman .pas, .pengalaman .pt {
        padding-top: 0px;
        display: block;
    }

    .tmp-pengalaman .pengalaman .jobdesk {
        border-radius: 0px 0px 15px 15px;
        padding: 1px 0px 1px 0px;
    }

    .andalan .keahlian ul {
        text-align: left;
        /* padding-left: 20px; */
        padding-right: 0px;
    }
    
    .pengalaman .jobdesk ul {
        text-align: left;
        /* padding-left: 20px; */
        padding-right: 20px;
    }

    .pddkn .sklh {
        /* text-align: center; */
        /* padding-top: 0px; */
        /* padding-bottom: 0px; */
        /* padding-left: 20px; */
        padding-left: 20px;
        padding-right: 20px;
    }
}


